@font-face {
  font-family: 'Luckiest Guy';
  src: url('./assets/fonts/Luckiest_Guy/luckiestguy-regular.woff2') format('woff2'),
       url('./assets/fonts/Luckiest_Guy/luckiestguy-regular.woff') format('woff'),
       url('./assets/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
