@import './_fonts.scss';
@import './_global.scss';

//* variables

$primary-font: 'Luckiest Guy', cursive;
$secondary-font: cursive;

$primary-color: darkolivegreen;
$secondary-color: darkgreen;

$primary-bg-color:  rgb(142,205,145);//rgba(30, 155, 36, 0.5);
$secondary-bg-color: rgba(85, 107, 47, 0.6);

$primary-border-line: 2px;
$secondary-border-line: 1px;
$max-border-line: 10px;

$primary-border-radius: 4px;
$secondary-border-radius: 10px;

$animation-time: 0.3s;
$animation-function: ease-in;

@mixin buttons {
  border: $primary-border-line solid $secondary-color;
  border-radius: $secondary-border-radius;
  font-family: $secondary-font;
  cursor: pointer;
}

body {
  --title-font-size: 2rem;
  --nav-height: 2.2rem;
  --nav-btn-width: 5.25rem;
  --nav-btn-font-size: 1rem;
  --stat-font-size: 1rem;
  --chip-size: 3.75rem;
  --chip-font-size: 2.5rem;


  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: $secondary-font;
}

button {
  &:active,
  &:focus {
    outline: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.container {
  //height: 70vh;
  margin: 1.4rem auto;
  border-radius: $secondary-border-radius $secondary-border-radius 0 0;
  background-color: $primary-bg-color;
  //transition: all 5s ease-in-out;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;

  &__title {
    padding-left: 10px;
    font-size: var(--title-font-size);
    font-weight: bold;
    font-family: $primary-font;
    color: $primary-color;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;

  &__sound {
    @include buttons;
    width: var(--nav-height);
    height: var(--nav-height);
    margin: 0 10px;
    border-color: $primary-color;
    border-radius: 50%;
    background: url('./../assets/icons/volume_up-18dp.svg');
    background-size: contain;
    background-color: $primary-color;

    &--mute {
      background: url('./../assets/icons/volume_off-18dp.svg');
      background-size: contain;
    }

    &:hover {
      transform: scale(1.4);
      transition: transform 0.2s ease-in-out;
    }
  }

  &__main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__btn {
      @include buttons;
      height: var(--nav-height);
      min-width: var(--nav-btn-width);
      //margin-left: 10px;
      padding: 0 10px;
      border-color: $primary-color;
      font-size: var(--nav-btn-font-size);
      font-weight: bold;
      font-family: $primary-font;
      color: $primary-color;
      background-color: transparent;

      &:hover,
      &:focus {
        background-color: $primary-color;
        color: #ffffff;
      }
    }

    &__container {
      position: absolute;
      top: 40px;
      //right: 10px;
      display: flex;
      flex-direction: column;
      width: 150px;
    }

    &__item {
      @include buttons;
      margin: 2px 5px;
      background-color: rgb(142,205,145);

      &:hover,
      &:focus,
      &--active {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #ffffff;
      }
    }
  }
}

.statistic {
  display: flex;
  //justify-content: space-between;
  padding: 10px;
  font-size: var(--stat-font-size);

  &__time,
  &__moves {
    display: flex;

    &--value {
      height: 100%;
      min-width: 30px;
      margin: 0 10px;
      //border: $secondary-border-line solid $secondary-color;
    }
  }

  &__time {
    width: 70%;
  }
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  padding: 4px;
  border: $max-border-line solid $primary-color;

}

.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--chip-size);
  width: var(--chip-size);
  border: $primary-border-line solid $secondary-color;
  border-radius: $primary-border-radius;
  font-family: $primary-font;
  font-size: var(--chip-font-size);
  cursor: pointer;

  &:hover {
    background-color: $secondary-bg-color;
  }

  &--empty {
    border: 0;
    cursor: default;

    &:hover {
    background-color: transparent;
  }
  }
}

.footer {
  display: flex;
  background-color: #ffffff;

  &__btn {
    @include buttons;
    width: 100%;
    border-radius: 0 0 $secondary-border-radius $secondary-border-radius;

    &:focus,
    &--active {
      background-color: $primary-bg-color;
      font-weight: bold;
    }
  }
}


.move-right {
  animation: move-right $animation-time $animation-function;
}
.move-left {
  animation: move-left $animation-time $animation-function;
}
.move-top {
  animation: move-top $animation-time $animation-function;
}
.move-bottom {
  animation: move-bottom $animation-time $animation-function;
}

//* animations

@keyframes move-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-top {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
