@import './_fonts.scss';
@import './_global.scss';

//* variables

$primary-font: 'Luckiest Guy', cursive;
$secondary-font: cursive;

$primary-color: darkolivegreen;
$secondary-color: darkgreen;

$primary-bg-color: rgba(30, 155, 36, 0.5);

$primary-border-line: 2px;
$secondary-border-line: 1px;
$max-border-line: 10px;

$primary-border-radius: 4px;
$secondary-border-radius: 10px;

$animation-time: 0.3s;
$animation-function: ease-in;

@mixin buttons {
  border: $primary-border-line solid $secondary-color;
  border-radius: $secondary-border-radius;
  font-family: $secondary-font;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: $secondary-font;
}

button {
  &:active,
  &:focus {
    outline: none;
  }
}

.container {
  //height: 70vh;
  margin: 1.4rem auto;
  background-color: $primary-bg-color;
  //transition: all 5s ease-in-out;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;

  &__title {
    padding-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    font-family: $primary-font;
    color: $primary-color;
  }

  &__shuffle {
    @include buttons;
    padding: 5px 5px;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 0 10px;

  &__sound {
    @include buttons;
    width: 35px;
    height: 35px;
    margin: 0 10px;
    border-color: $primary-color;
    border-radius: 50%;
    background: url('./../assets/icons/volume_up-18dp.svg');
    background-size: contain;
    background-color: $primary-color;

    &--mute {
      background: url('./../assets/icons/volume_off-18dp.svg');
      background-size: contain;
    }
  }

  &__main {
    &__btn {
      @include buttons;
      margin-left: 10px;
      padding: 0 15px;
      border-color: $primary-color;
      font-size: 1.3rem;
      font-weight: bold;
      font-family: $primary-font;
      color: $primary-color;
      background-color: transparent;
    }

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__item {
      @include buttons;
      margin: 2px 5px;
    }
  }
}

.statistic {
  display: flex;
  //justify-content: space-between;
  padding: 10px;

  &__time,
  &__moves {
    display: flex;

    &--value {
      height: 100%;
      min-width: 30px;
      margin: 0 10px;
      //border: $secondary-border-line solid $secondary-color;
    }
  }

  &__time {
    width: 70%;
  }
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  padding: 4px;
  border: $max-border-line solid $primary-color;

}

.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
  width: 3.75rem;
  border: $primary-border-line solid $secondary-color;
  border-radius: $primary-border-radius;
  font-family: $primary-font;
  font-size: 2.5rem;
  cursor: move;

  &--empty {
    border: 0;
    cursor: default;
  }
}

.footer {
  display: flex;
  background-color: #ffffff;

  &__btn {
    @include buttons;
    width: 100%;
    border-radius: 0 0 $secondary-border-radius $secondary-border-radius;

    &:active,
    &:focus,
    &--active {
      background-color: $primary-bg-color;
      font-weight: bold;
    }
  }
}


.move-right {
  animation: move-right $animation-time $animation-function;
}
.move-left {
  animation: move-left $animation-time $animation-function;
}
.move-top {
  animation: move-top $animation-time $animation-function;
}
.move-bottom {
  animation: move-bottom $animation-time $animation-function;
}

//* animations

@keyframes move-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-top {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
