//- colors

//! DELETE
$red: 1px solid red;
$blue: 1px solid blue;
$green: 1px solid green;

//* text, borders, etc
$primary-color: #4C4C4C;
$secondary-color: #545454;
$light-color: #B2B2B2;
$lightest-color: #FAFAFA;

//* theme colors
$primary-theme-color: #F1CDB3;
$secondary-theme-color: #FDDCC4;
$light-theme-color: #CDCDCD;

//* types
$primary-type: Arial, sans-serif;
$secondary-type: Georgia, "Times New Roman", serif;

//* gradients
$header-background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
                    linear-gradient(0deg, #211F20, #211F20);
$footer-background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
                    linear-gradient(0deg, #211F20, #211F20);


//* базовые размеры шрифтов
$font-body: 15rem;
$font-h1: 32rem;
$font-h2: 44rem;
$font-h3: 35rem;
$font-h4: 20rem;
$font-h5: 15rem;
$font-button: 17rem;
$font-s: 12rem;

@mixin head {
  font-family: $secondary-type;
  font-style: normal;
  font-weight: normal;
  color: $secondary-color;
}

h1,
.head1 {
  @include head;
}

@mixin head2 {
  @include head;
  font-size: #{$font-h2/$font-body}rem;
  //line-height: 28px;
  //letter-spacing: 1px;
}

h2,
.head2 {
  @include head2;
}

@mixin head3 {
  @include head;
  font-size: #{$font-h3/$font-body}rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

h3,
.head3 {
  @include head3;
}

@mixin head4 {
  @include head;
  font-size: #{$font-h4/$font-body}rem;
  letter-spacing: 0.06em;
}

h4,
.head4 {
  @include head4;
}

@mixin head5 {
  @include head;
  font-size: #{$font-h5/$font-body}rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

h5,
.head5 {
  @include head5;
}

@mixin regular {
  font-family: $primary-type;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: $primary-color;
}

body {
  @include regular;
}

@mixin buttonTitle {
  font-family: $secondary-type;
  font-style: normal;
  font-weight: normal;
  font-size: #{$font-button/$font-body}rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

@mixin pLight {
  font-family: $primary-type;
  font-style: italic;
  font-weight: normal;
  font-size: #{$font-s/$font-body}rem;
  line-height: 150%;
  color: $light-color;
}

@mixin links {
  font-family: $primary-type;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 160%;
  color: $light-theme-color;
}
