@import './_fonts.scss';
@import './_global.scss';

//* variables

//$primary-font: "Josefin Sans", sans-serif;
$primary-font: 'Varela Round', 'Montserrat', sans-serif;
$secondary-font: 'Gochi Hand', cursive;

$primary-theme-color: #158cba;
$secondary-theme-color: #ff851b;
$menu-theme-color: #28b62c;

$primary-color: #102585;

$primary-bg-color: rgb(255, 255, 255);

$card-width: 17rem;
$card-height: $card-width;
$card-image-height: 11.7rem;

$rating-star-size: 2.5rem;

$main-nav-width: 19rem;

$media-midW: 1023px;
$media-minW: 767px;s

:root {
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: $primary-theme-color;
}

body {
  height: 100%;
  font-family: $primary-font;
  font-style: normal;
  background-color: $primary-theme-color;
  overflow-x: hidden;

  @media (max-width: 570px) {
    overflow-x: scroll;
  }
}

button {
  &:active,
  &:focus {
    outline: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.wrapper--main {
  min-height: 100vh;
}

.blackout {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(41, 41, 41, 0.6);
  transform: translateX($main-nav-width);
  transition: all 0.6s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $primary-theme-color;
}

.main-nav {
  position: fixed;
  left: -$main-nav-width;
  z-index: 100;
  align-self: stretch;
  height: 100%;
  width: $main-nav-width;
  background-color: $menu-theme-color;
  transition: all 0.6s;

  &--active {
    left: 0;
  }

  &__container {
    width: 80%;
    margin: 5rem 0 1rem 2rem;
    font-family: $secondary-font;
    color: $primary-color;
    font-size: 2.2rem;
  }

  &__item {
    margin: 0.7rem 0;
    border-radius: 16px;
    text-align: center;
    text-shadow: 1px 1px 2px white;
    cursor: pointer;

    &--active {
      background-color: $secondary-theme-color;
      box-shadow: 5px 5px 12px #66350b, -5px -5px 12px #ffd52b;
    }

    &:first-child {
      color: $primary-bg-color;
    }

    &:hover {
      box-shadow: 6px 6px 12px #104912, -6px -6px 12px #40ff46;
    }
  }

  &__btn {
    position: absolute;
    height: 3rem;
    width: 4rem;
    top: 1.3rem;
    right: -6rem;
    margin: 0 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &--active {
      right: 0;
      transition: all 0.5s;
    }

    &:hover > .main-nav__decorate,
    &:hover > .main-nav__decorate::before,
    &:hover > .main-nav__decorate::after {
      box-shadow: 6px 6px 5px rgba(11, 25, 87, 0.8);
    }
  }

  &__decorate,
  &__decorate::before,
  &__decorate::after {
    display: block;
    width: 100%;
    height: 0.4rem;
    border-radius: 0.4rem;
    background: $primary-bg-color;
    transition: all 0.3s;
    box-shadow: inset 0px 1px 1px rgba(11, 25, 87, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.5);
  }

  &__decorate {
    position: relative;
    box-shadow: inset 0px 1px 1px rgba(11, 25, 87, 0.8), 0px 1px 0px rgba(21, 140, 186, 0.7);

    &::before {
      content: '';
      position: absolute;
      top: -17px;
      background-color: $secondary-theme-color;
    }
    &::after {
      content: '';
      position: absolute;
      top: 17px;
      background-color: $menu-theme-color;
    }
  }

  &__btn--active > .main-nav__decorate {
    transform: rotate(45deg);
  }
  &__btn--active > .main-nav__decorate::before {
    transform: rotate(-90deg);
    top: 0;
  }
  &__btn--active > .main-nav__decorate::after {
    transform: rotate(-90deg);
    top: 0;
    z-index: -1;
  }

  &__btn--active:hover > .main-nav__decorate::before,
  &__btn--active:hover > .main-nav__decorate::after {
    box-shadow: -5px 6px 5px rgba(11, 25, 87, 0.5);
  }
}

.title {
  &__btn {
    border: none;
    background-color: transparent;
    text-shadow: 3px 3px 4px $primary-color;
    transition: 0.3s ease-out;
    cursor: pointer;

    &:hover {
      text-shadow: 7px 7px 7px $primary-color;
    }
  }

  &--main {
    margin-left: 7rem;
    font-family: $secondary-font;
    font-size: 5rem;
    color: $primary-bg-color;

    @media (max-width: $media-midW) {
      font-size: 3rem;
    }

    @media (max-width: $media-minW) {
      font-size: 0;
    }
  }
}

.modes {
  display: flex;
  align-items: center;
  padding-right: 1rem;

  @media (max-width: $media-minW) {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-top: 1.7rem;
  }
}

.toggle {
  width: 10rem;
  height: 2.6rem;
  margin: 20px 1rem;
  background-color: $menu-theme-color;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgb(11, 25, 87, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.5);

  @media (max-width: $media-minW) {
    margin: 20px 0;
  }

  &--play {
    background-color: $secondary-theme-color;
  }

  &:after,
  &:before {
    color: $primary-color;
    position: absolute;
    z-index: 0;
    line-height: 2.9rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &:after {
    content: 'TRAIN';
    right: 10px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
  }

  &:before {
    content: 'PLAY';
    left: 10px;
  }

  &__label {
    display: block;
    width: 70px;
    height: 2.3rem;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }

  &__checkbox {
    visibility: hidden;

    &:checked + label {
      left: 87px;
    }
  }
}

.stats__btn,
.play-mode {
  height: 2.58rem;
  padding: 8px 10px 5px 10px;
  border: none;
  border-radius: 50px;
  font-family: $primary-font;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  background: $secondary-theme-color;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  color: $primary-color;
  cursor: pointer;
}

.stats__btn:hover {
  box-shadow: 6px 6px 5px rgba(11, 25, 87, 0.8);
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.main__header {
  position: relative;
  overflow-x: hidden;
  flex-grow: 0;
}

.main__rating {
  display: flex;
  flex-grow: 0;
  height: $rating-star-size;
  max-width: 720px;
  margin-top: 10px;
  padding: 0 10px;

  &__star {
    display: block;
    flex-shrink: 0;
    width: $rating-star-size;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;

    &--true {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' viewBox='0 0 24 24' fill='rgb(255, 133, 27' width='18px' height='18px'%3E%3Cg%3E%3Cpath d='M0,0h24v24H0V0z' fill='none'/%3E%3Cpath d='M0,0h24v24H0V0z' fill='none'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M12,17.27l4.15,2.51c0.76,0.46,1.69-0.22,1.49-1.08l-1.1-4.72l3.67-3.18c0.67-0.58,0.31-1.68-0.57-1.75l-4.83-0.41 l-1.89-4.46c-0.34-0.81-1.5-0.81-1.84,0L9.19,8.63L4.36,9.04c-0.88,0.07-1.24,1.17-0.57,1.75l3.67,3.18l-1.1,4.72 c-0.2,0.86,0.73,1.54,1.49,1.08L12,17.27z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--false {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(16, 37, 133)' width='18px' height='18px'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19.65 9.04l-4.84-.42-1.89-4.45c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5 4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.73 3.67-3.18c.67-.58.32-1.68-.56-1.75zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z'/%3E%3C/svg%3E");
    }
  }
}

.title--category {
  font-family: $secondary-font;
  font-size: 3rem;
  margin-top: 1.25rem;
  text-align: center;
  color: $primary-color;
  text-shadow: 2px 2px 2px $primary-bg-color;
}

.play-mode {
  position: absolute;
  top: 10px;
  right: -180px;
  margin-right: 1rem;
  background: $secondary-theme-color;
  box-shadow: inset -4px -4px 8px #d97117, inset 4px 4px 8px #ff991f;
  transition: all 0.4s ease;

  &:hover {
    box-shadow: 4px 4px 8px #0b4c64, -4px -4px 8px #1fccff;
  }

  &:disabled {
    background: #ff851b;
    opacity: 0.5;
    box-shadow: none;
    cursor: not-allowed;
  }

  &--play {
    right: 0;
  }

  &--repeat {
    width: 146px;
    padding-left: 1.5rem;
    background: $menu-theme-color;
    box-shadow: inset -4px -4px 8px #229b25, inset 4px 4px 8px #2ed133;

    &::before {
      content: '';
      position: absolute;
      left: 10px;
      top: 9px;
      height: 1.5rem;
      width: 1.5rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(16,37,133)' width='18px' height='18px'%3E%3Cpath d='M3 10v4c0 .55.45 1 1 1h3l3.29 3.29c.63.63 1.71.18 1.71-.71V6.41c0-.89-1.08-1.34-1.71-.71L7 9H4c-.55 0-1 .45-1 1zm13.5 2c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 4.45v.2c0 .38.25.71.6.85C17.18 6.53 19 9.06 19 12s-1.82 5.47-4.4 6.5c-.36.14-.6.47-.6.85v.2c0 .63.63 1.07 1.21.85C18.6 19.11 21 15.84 21 12s-2.4-7.11-5.79-8.4c-.58-.23-1.21.22-1.21.85z'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: $card-width;
    height: $card-height;
    margin: 1.3rem;
    padding: 10px;
    border-radius: 2rem;
    transition: 0.5s ease;
    cursor: pointer;
    perspective: 1000px;

    &--category {
      padding: 20px 10px;
      background-color: $primary-bg-color;
      box-shadow: inset -11px -11px 22px #9c9c9c, inset 11px 11px 22px #ffffff;

      &:hover {
        box-shadow: -11px -11px 12px #0b4c64, 11px 11px 12px #1fccff;
        transform: translateY(-5px) scale(1.005) translateZ(0);
      }
    }

    &--front,
    &--back {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      transition: 1s;
      backface-visibility: hidden;
      width: $card-width;
      height: $card-height;
      padding: 20px 10px;
      background-color: $primary-bg-color;
      border-radius: 2rem;
      box-shadow: inset -11px -11px 22px #9c9c9c, inset 11px 11px 22px #ffffff;

      &:hover {
        box-shadow: -11px -11px 12px #0b4c64, 11px 11px 12px #1fccff;
        transform: translateY(-5px) scale(1.005) translateZ(0);
      }
    }

    &--back {
      transform: rotateY(180deg);
      box-shadow: -11px -11px 12px #0b4c64, 11px 11px 12px #1fccff;
    }

    &--active .cards__item--front {
      transform: rotateY(180deg);
    }

    &--unactive,
    &--unactive .cards__item--front {
      pointer-events: none;
      background-color: $primary-theme-color;
      box-shadow: none;
    }

    &--active .cards__item--back {
      transform: rotateY(360deg);
    }

    &__img {
      width: 100%;
      height: $card-image-height;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      &--color {
        width: 75%;
        margin-top: 10px;
        border-radius: 50%;
      }

      &--play {
        justify-content: center;
        height: 100%;
      }
    }

    &__title {
      margin-top: 10px;
      margin-bottom: -10px;
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
      color: $primary-color;
    }

    &__btn {
      position: absolute;
      bottom: 45px;
      left: 14px;
      width: 40px;
      height: 20px;
      border: none;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin-top: 2rem;

  &__img {
    width: 12rem;
    height: 12rem;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__text {
    font-family: $secondary-font;
    font-size: 4rem;
    margin-top: 1.5rem;
    text-align: center;
    color: $primary-bg-color;
    text-shadow: 3px 3px 3px $primary-color;
  }
}

.statistic {
  position: absolute;
  top: 6.3rem;
  z-index: 100;
  min-width: 100%;
  background-color: $primary-bg-color;
  color: $primary-color;

  &__header {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 1rem;
    background-color: $primary-theme-color;
  }

  &__title {
    display: block;
    width: 100%;
    margin: 2rem 1rem;
    text-align: left;
    font-family: $secondary-font;
    font-size: 2rem;
    box-sizing: border-box;
  }

  &__content {
    min-height: 100%;
    min-width: 100%;
    border-collapse: collapse;

    &__row {
      text-align: center;

      &--header {
        margin: 1rem 0.5rem;
        border-bottom: 3px solid rgba(16, 37, 133, 0.6);
      }
    }
  }
}

th {
  padding: 0.75rem 3px;
}

td {
  border-bottom: 1px solid rgba(16, 37, 133, 0.2);
  padding: 0.5rem 0;
}

td:first-child {
  padding-left: 1rem;
  text-align: left;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: inset 7px 7px 13px #12779e,
              inset -7px -7px 13px #18a1d6;
}

.author {
  display: flex;
  align-items: center;

  :hover {
    border-radius: 1.25rem;
    box-shadow: 7px 7px 13px #08384a,
    -7px -7px 13px #22e0ff;
  }

  &__gh-link {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-weight: bold;
    color: $primary-color;
    text-decoration: none;

    & > svg {
      height: 2.3rem;
      margin-left: 0.5rem;
    }
  }
}

.RSS-logo {
  &> svg {
    height: 2rem;
  }
}

.main-nav__item {
  display: flex;

  &__img {
    height: 2.4rem;
    width: 2.4rem;
    margin: 0 8px;
    background-size: contain;
  }

  &[data-category="animals"] > .main-nav__item__img {
      background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ffbf8e;%7D.cls-2%7Bfill:%23ffd0b0;%7D.cls-3%7Bfill:%23425b72;%7D.cls-4%7Bfill:%23e79165;%7D.cls-5%7Bfill:%23dd7b50;%7D.cls-6%7Bfill:%232c435e;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Ehedgehog, animal, nature, wildlife, forest%3C/title%3E%3Cpath class='cls-1' d='M12.25,35.75h3.92a0,0,0,0,1,0,0v4.9a2,2,0,0,1-2,2h0a2,2,0,0,1-2-2v-4.9A0,0,0,0,1,12.25,35.75Z'/%3E%3Cpath class='cls-1' d='M31.83,35.75h3.92a0,0,0,0,1,0,0v4.9a2,2,0,0,1-2,2h0a2,2,0,0,1-2-2v-4.9A0,0,0,0,1,31.83,35.75Z'/%3E%3Cpath class='cls-2' d='M46.52,27.92a9.8,9.8,0,0,1-9.79,9.79H7.35V20.08h33.3a8.12,8.12,0,0,0,5.57,7.74Z'/%3E%3Cpath class='cls-2' d='M8.33,35.75h3.92a0,0,0,0,1,0,0v4.9a2,2,0,0,1-2,2h0a2,2,0,0,1-2-2v-4.9a0,0,0,0,1,0,0Z'/%3E%3Ccircle class='cls-3' cx='45.54' cy='27.92' r='1.96'/%3E%3Cpath class='cls-4' d='M41.62,20.08c0,3.92-8.81,1-8.81,5.88,0,5.17-5.87,4.89-9.79,4.89-9.79,0-9.79,6.86-18.6,6.86H.5C.5,26.94,2.46,25,4.42,22A13.53,13.53,0,0,0,.5,25c0-6.86,6.85-10.77,6.85-10.77a13.08,13.08,0,0,0-4.89,1C8.33,8.33,18.12,9.31,18.12,9.31a40.54,40.54,0,0,0-4.89-2c9.79-1,14.69,1,14.69,1A18.4,18.4,0,0,0,24,5.4c7.43,0,15.7,3.93,17.33,11.79A13.49,13.49,0,0,1,41.62,20.08Z'/%3E%3Cpath class='cls-5' d='M41.62,20.08c0,3.92-8.81,1-8.81,5.88,0,5.17-5.87,4.89-9.79,4.89-9.79,0-9.79,6.86-18.6,6.86H.5c4.9-2,5.32-7.49,6.85-9.79a13.78,13.78,0,0,0-3.91,2.93c0-6.85,6.85-10.77,6.85-10.77a13,13,0,0,0-4.89,1c5.87-6.85,15.66-5.87,15.66-5.87a41.44,41.44,0,0,0-4.89-2c9.79-1,14.68,1,14.68,1a18.1,18.1,0,0,0-3.91-2.94c5.27,0,10.94,2,14.39,5.92A13.49,13.49,0,0,1,41.62,20.08Z'/%3E%3Ccircle class='cls-2' cx='32.32' cy='24.49' r='2.45'/%3E%3Cpath class='cls-2' d='M27.92,35.75h3.92a0,0,0,0,1,0,0v4.9a2,2,0,0,1-2,2h0a2,2,0,0,1-2-2v-4.9A0,0,0,0,1,27.92,35.75Z'/%3E%3Ccircle class='cls-6' cx='38.69' cy='26.94' r='0.98'/%3E%3C/svg%3E");
  }
  &[data-category="clothes"] > .main-nav__item__img {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='flat'%3E%3Crect height='12' style='fill:%23b0342e' width='24' x='20' y='3'/%3E%3Cpath d='M49,3H40A8,8,0,0,1,24,3H15A12,12,0,0,0,3,15V53h8l.957-32.523A1.521,1.521,0,0,1,13.478,19h0A1.521,1.521,0,0,1,15,20.522V50a3,3,0,0,0,3,3H46a2.993,2.993,0,0,0,3-2.992V20.52A1.52,1.52,0,0,1,50.522,19h0a1.521,1.521,0,0,1,1.521,1.477L53,53h8V15A12,12,0,0,0,49,3Z' style='fill:%23dd4a43'/%3E%3Cpath d='M40,3A8,8,0,0,1,24,3H20A12,12,0,0,0,44,3Z' style='fill:%237ea82d'/%3E%3Cpath d='M56,25a1,1,0,0,1-.707-.293L52,21.414A1,1,0,0,1,52,20h0a1,1,0,0,1,1.414,0L56,22.586,59.586,19A1,1,0,0,1,61,19h0a1,1,0,0,1,0,1.414l-4.293,4.293A1,1,0,0,1,56,25Z' style='fill:%237ea82d'/%3E%3Cpath d='M44,25a1,1,0,0,1-.707-.293L38,19.414l-5.293,5.293a1,1,0,0,1-1.414,0L26,19.414l-5.293,5.293a1,1,0,0,1-1.348.061l-5.231-4.36A1,1,0,0,1,14,19h0a1,1,0,0,1,1.408-.127l4.53,3.775,5.355-5.354a1,1,0,0,1,1.414,0L32,22.586l5.293-5.293a1,1,0,0,1,1.414,0l5.355,5.354,4.53-3.775A1,1,0,0,1,50,19h0a1,1,0,0,1-.128,1.408l-5.231,4.36A1,1,0,0,1,44,25Z' style='fill:%237ea82d'/%3E%3Cpath d='M8,25a1,1,0,0,1-.707-.293L3,20.414A1,1,0,0,1,3,19H3a1,1,0,0,1,1.414,0L8,22.586,10.586,20A1,1,0,0,1,12,20h0a1,1,0,0,1,0,1.414L8.707,24.707A1,1,0,0,1,8,25Z' style='fill:%237ea82d'/%3E%3Cpath d='M56,41a1,1,0,0,1-.707-.293L52.583,38a1,1,0,0,1,0-1.415h0a1,1,0,0,1,1.414,0l2,2L59.586,35A1,1,0,0,1,61,35h0a1,1,0,0,1,0,1.414l-4.293,4.293A1,1,0,0,1,56,41Z' style='fill:%237ea82d'/%3E%3Cpath d='M44,41a1,1,0,0,1-.707-.293L38,35.414l-5.293,5.293a1,1,0,0,1-1.414,0L26,35.414l-5.293,5.293a1,1,0,0,1-1.414,0L15,36.414A1,1,0,0,1,15,35h0a1,1,0,0,1,1.414,0L20,38.586l5.293-5.293a1,1,0,0,1,1.414,0L32,38.586l5.293-5.293a1,1,0,0,1,1.414,0L44,38.586,47.586,35A1,1,0,0,1,49,35h0a1,1,0,0,1,0,1.414l-4.293,4.293A1,1,0,0,1,44,41Z' style='fill:%237ea82d'/%3E%3Cpath d='M8,41a1,1,0,0,1-.707-.293L3,36.414A1,1,0,0,1,3,35H3a1,1,0,0,1,1.414,0l3.6,3.594,2.077-2.028a1,1,0,0,1,1.414.018h0A1,1,0,0,1,11.483,38L8.7,40.716A1,1,0,0,1,8,41Z' style='fill:%237ea82d'/%3E%3Cpath d='M56,33a1,1,0,0,1-.707-.293L52,29.414A1,1,0,0,1,52,28h0a1,1,0,0,1,1.414,0L56,30.586,59.586,27A1,1,0,0,1,61,27h0a1,1,0,0,1,0,1.414l-4.293,4.293A1,1,0,0,1,56,33Z' style='fill:%23d13e37'/%3E%3Cpath d='M44,33a1,1,0,0,1-.707-.293L38,27.414l-5.293,5.293a1,1,0,0,1-1.414,0L26,27.414l-5.293,5.293a1,1,0,0,1-1.414,0L15,28.414A1,1,0,0,1,15,27h0a1,1,0,0,1,1.414,0L20,30.586l5.293-5.293a1,1,0,0,1,1.414,0L32,30.586l5.293-5.293a1,1,0,0,1,1.414,0L44,30.586,47.586,27A1,1,0,0,1,49,27h0a1,1,0,0,1,0,1.414l-4.293,4.293A1,1,0,0,1,44,33Z' style='fill:%23d13e37'/%3E%3Cpath d='M8,33a1,1,0,0,1-.707-.293L3,28.414A1,1,0,0,1,3,27H3a1,1,0,0,1,1.414,0L8,30.586,10.586,28A1,1,0,0,1,12,28h0a1,1,0,0,1,0,1.414L8.707,32.707A1,1,0,0,1,8,33Z' style='fill:%23d13e37'/%3E%3Cpath d='M56,49a1,1,0,0,1-.707-.293L53,46.414A1,1,0,0,1,53,45h0a1,1,0,0,1,1.414,0L56,46.586,59.586,43A1,1,0,0,1,61,43l.707.707-5,5A1,1,0,0,1,56,49Z' style='fill:%23d13e37'/%3E%3Cpath d='M44,49a1,1,0,0,1-.707-.293L38,43.414l-5.293,5.293a1,1,0,0,1-1.414,0L26,43.414l-5.293,5.293a1,1,0,0,1-1.414,0L15,44.414A1,1,0,0,1,15,43h0a1,1,0,0,1,1.414,0L20,46.586l5.293-5.293a1,1,0,0,1,1.414,0L32,46.586l5.293-5.293a1,1,0,0,1,1.414,0L44,46.586,47.586,43A1,1,0,0,1,49,43h0a1,1,0,0,1,0,1.414l-4.293,4.293A1,1,0,0,1,44,49Z' style='fill:%23d13e37'/%3E%3Cpath d='M8,49a1,1,0,0,1-.707-.293L3,44.414A1,1,0,0,1,3,43H3a1,1,0,0,1,1.414,0L8,46.586,9.586,45A1,1,0,0,1,11,45h0a1,1,0,0,1,0,1.414L8.707,48.707A1,1,0,0,1,8,49Z' style='fill:%23d13e37'/%3E%3Cpolygon points='18 61 17 53 47 53 46 61 18 61' style='fill:%23d13e37'/%3E%3Cpolygon points='11 53 3 53 4 61 11 61 11 53' style='fill:%23d13e37'/%3E%3Cpolygon points='53 53 61 53 60 61 53 61 53 53' style='fill:%23d13e37'/%3E%3Crect height='8' rx='1' ry='1' style='fill:%23b0342e' width='2' x='29' y='53'/%3E%3Crect height='8' rx='1' ry='1' style='fill:%23b0342e' width='2' x='25' y='53'/%3E%3Crect height='8' rx='1' ry='1' style='fill:%23b0342e' width='2' x='21' y='53'/%3E%3Crect height='8' rx='1' ry='1' style='fill:%23b0342e' width='2' x='41' y='53'/%3E%3Crect height='8' rx='1' ry='1' style='fill:%23b0342e' width='2' x='37' y='53'/%3E%3Crect height='8' rx='1' ry='1' style='fill:%23b0342e' width='2' x='33' y='53'/%3E%3Crect height='8' rx='1' ry='1' style='fill:%23b0342e' width='2' x='6' y='53'/%3E%3Crect height='8' rx='1' ry='1' style='fill:%23b0342e' width='2' x='56' y='53'/%3E%3Cpath d='M12.334,9.284,11.666,7.4A6.993,6.993,0,0,1,14,7V9A4.989,4.989,0,0,0,12.334,9.284Z' style='fill:%23e66b65'/%3E%3Cpath d='M9,15H7V14A7.012,7.012,0,0,1,9.333,8.783l1.334,1.49A5.006,5.006,0,0,0,9,14Z' style='fill:%23e66b65'/%3E%3Crect height='2' style='fill:%23dd4a43' width='6' x='29' y='6'/%3E%3C/g%3E%3C/svg%3E");
  }
  &[data-category="colors"] > .main-nav__item__img {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg data-name='Layer 2' id='Layer_2' viewBox='0 0 2050 2050' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23c8c2e9;%7D.cls-2%7Bfill:%23b9b1e0;%7D.cls-3%7Bfill:%2384b320;%7D.cls-4%7Bfill:%23de3226;%7D.cls-5%7Bfill:%2367baeb;%7D.cls-6%7Bfill:%23f4c23f;%7D.cls-7%7Bfill:%234b7d27;%7D.cls-8%7Bfill:%23b11a31;%7D.cls-9%7Bfill:%2346a1f8;%7D.cls-10%7Bfill:%23f4a93f;%7D.cls-11%7Bfill:%23fff;%7D.cls-12%7Bfill:%23bed5eb;%7D.cls-13%7Bfill:%234d4c78;%7D.cls-14%7Bfill:%23323150;%7D.cls-15%7Bfill:%2364639c;%7D.cls-16%7Bfill:%23fad564;%7D.cls-17%7Bfill:%23bddd2a;%7D.cls-18%7Bfill:%23f44533;%7D.cls-19%7Bfill:%23dfdafd;%7D%3C/style%3E%3C/defs%3E%3Ctitle/%3E%3Cpath class='cls-1' d='M1704,510.5h0a873.5,873.5,0,0,0-116.4-119.1,531.2,531.2,0,0,0-314.8-105.4c-296.1-1.8-536.1,236.5-536.1,532.7v5.9c1.2,114.6-45.3,224.9-130.6,301.4a450.4,450.4,0,0,0-150.3,336.5c0,141.3,64.9,267.5,166.5,350.4,180.7,129.5,382.5,102.6,408.7,102.6,477,0,863.6-386.7,863.6-863.7A860,860,0,0,0,1704,510.5Z'/%3E%3Cpath class='cls-2' d='M1064.1,1301.7l38.5-45.1h.8c-43.6,81.4,32.7,190.3,180.8,215.5,85.6,11.3,99.4,61.1,124.3,88.5,109.5-347.8-196-408.8-243.9-376.3v-.4l27.9-32.7a39.7,39.7,0,0,0-60.5-51.5l-10.3,12.1L742.2,741.4a544.8,544.8,0,0,0-5.5,77.2v5.9a406.3,406.3,0,0,1-39.1,178.8L1014,1238.1l-10.3,12.1a39.7,39.7,0,1,0,60.4,51.5Z'/%3E%3Cpath class='cls-1' d='M733,884.2a405.7,405.7,0,0,0,40.4-181.5v-6a541.2,541.2,0,0,1,8-92.5,531.2,531.2,0,0,0-44.7,214.4v5.9A409.1,409.1,0,0,1,733,884.2Z'/%3E%3Cpath class='cls-2' d='M1067.7,1793.5c-26.2,0-227.9,26.9-408.6-102.6-101.7-82.9-166.6-209-166.6-350.4a452.8,452.8,0,0,1,5.2-68.3,449.4,449.4,0,0,0-41.9,190.2c0,141.3,64.9,267.5,166.5,350.4,180.7,129.5,382.5,102.6,408.7,102.6,412.4,0,757.2-289.1,843.1-675.6C1749.5,1563.7,1435.5,1793.5,1067.7,1793.5Z'/%3E%3Ccircle class='cls-3' cx='1301.8' cy='624.5' r='172.2'/%3E%3Ccircle class='cls-4' cx='1588.6' cy='1025' r='172.2'/%3E%3Ccircle class='cls-5' cx='1338.9' cy='1525.9' r='172.2'/%3E%3Ccircle class='cls-6' cx='822.9' cy='1525.9' r='172.2'/%3E%3Cpath class='cls-7' d='M1360.4,761.2a172.2,172.2,0,0,1-116.6-298.9,172.2,172.2,0,1,0,174.6,288.9A171.1,171.1,0,0,1,1360.4,761.2Z'/%3E%3Cpath class='cls-8' d='M1647.2,1161.7a172.2,172.2,0,0,1-116.6-298.9,172.2,172.2,0,1,0,174.6,288.9A171.1,171.1,0,0,1,1647.2,1161.7Z'/%3E%3Cpath class='cls-9' d='M1397.6,1662.6A172.2,172.2,0,0,1,1281,1363.7a172.2,172.2,0,1,0,174.5,288.9A171,171,0,0,1,1397.6,1662.6Z'/%3E%3Cpath class='cls-10' d='M881.5,1662.6a172.2,172.2,0,0,1-116.6-298.9,172.2,172.2,0,1,0,174.6,288.9A172,172,0,0,1,881.5,1662.6Z'/%3E%3Cpath class='cls-11' d='M1190.9,1155.4l-54.7,64.1c-46.4,81.7,30,192.5,179.5,218,85.6,11.3,99.4,61.1,124.3,88.4C1555.1,1160.5,1211.9,1111.6,1190.9,1155.4Z'/%3E%3Cpath class='cls-12' d='M1333.7,1369.1c-113.6-19.3-185-88-192.3-155.7l-5.2,6.1c-46.4,81.7,30,192.5,179.5,218,85.6,11.3,99.4,61.1,124.3,88.4a563.7,563.7,0,0,0,17.2-69.3C1432.8,1429.1,1418.4,1380.3,1333.7,1369.1Z'/%3E%3Cpath class='cls-13' d='M172.7,350.4h0c57.9-68,161.4-72.8,225.3-10.4l755.2,737.1-107.7,126.4-847.3-629C126.4,521.2,114.7,418.4,172.7,350.4Z'/%3E%3Cpath class='cls-14' d='M271.3,536.6c-71.7-53.2-83.4-156.1-25.5-224.1h0a155.1,155.1,0,0,1,12.6-13,152.8,152.8,0,0,0-85.7,50.9h0c-58,68-46.3,170.8,25.5,224.1l847.3,629,48.1-56.5Z'/%3E%3Crect class='cls-13' height='79.43' rx='39.7' ry='39.7' transform='matrix(-0.65, 0.76, -0.76, -0.65, 2749.78, 1062.84)' width='277.3' x='991' y='1126.3'/%3E%3Cpath class='cls-14' d='M1221.2,1062.1l-113.6,133.3a39.8,39.8,0,0,1-56,4.5h0a12.9,12.9,0,0,1-1.7-1.6l-14.7,17.3a39.8,39.8,0,0,0,4.5,56h0a39.6,39.6,0,0,0,55.9-4.5L1224,1116.5A39.7,39.7,0,0,0,1221.2,1062.1Z'/%3E%3Crect class='cls-15' height='465.85' rx='57.5' ry='57.5' transform='translate(-254.3 597.4) rotate(-46)' width='115.1' x='519' y='365.3'/%3E%3Crect class='cls-15' height='110.98' rx='14.5' ry='14.5' transform='translate(997.4 -471.2) rotate(40.4)' width='29' x='1123.8' y='1062.7'/%3E%3Ccircle class='cls-16' cx='889.3' cy='1484.7' r='83.5'/%3E%3Ccircle class='cls-17' cx='1371' cy='547.6' r='69.2'/%3E%3Ccircle class='cls-18' cx='1675.1' cy='958.8' r='62.8'/%3E%3Cpath class='cls-5' d='M1315.7,1437.5c85.6,11.3,99.4,61.1,124.3,88.4,21.8-69.2,27.1-127.1,21.4-175.1-50,1.9-107.3-67.3-126.7,1.3-13.8,49-81.2,49.5-133.2,42C1231.9,1414.3,1270.5,1429.8,1315.7,1437.5Z'/%3E%3Cpath class='cls-9' d='M1333.7,1369.1l-6.3-1.1c-22.8,33.1-80.3,32.7-125.9,26.1,30.4,20.2,69,35.7,114.2,43.4,85.6,11.3,99.4,61.1,124.3,88.4a563.7,563.7,0,0,0,17.2-69.3C1432.8,1429.1,1418.4,1380.3,1333.7,1369.1Z'/%3E%3Cellipse class='cls-5' cx='1382.4' cy='1286.2' rx='11.3' ry='17.6'/%3E%3Cellipse class='cls-5' cx='1546.1' cy='1414.9' rx='14.7' ry='32'/%3E%3Cpath class='cls-19' d='M1704,510.5h0a867.1,867.1,0,0,0-116.4-119c-12.2-9.2-24.8-17.7-37.8-25.8a328.9,328.9,0,0,0-18.3,108.7c0,181.5,146.2,328.7,327.3,330.4A861.2,861.2,0,0,0,1704,510.5Z'/%3E%3C/svg%3E");
  }
  &[data-category="family"] > .main-nav__item__img {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 48 48' enable-background='new 0 0 48 48' xml:space='preserve'%3E%3Crect x='29' y='12.9' fill='%23BF360C' width='10' height='11.2'/%3E%3Cpath fill='%233F51B5' d='M44,31v12H24V31c0-6.9,6.9-8.1,6.9-8.1h6.3C37.1,22.9,44,24.1,44,31z'/%3E%3Cpath fill='%23FF9800' d='M34,26.3c-2.4,0-3-3.3-3-3.3v-3.9h6V23C37,23,36.4,26.3,34,26.3z'/%3E%3Cpath fill='%23FFB74D' d='M40,11.3c0-5.1-12-3.3-12,0c0,0.7,0,4,0,4.7c0,3.3,2.7,6,6,6s6-2.7,6-6C40,15.3,40,12,40,11.3z'/%3E%3Cpath fill='%23FF5722' d='M34,5c-3.8,0-9,2.7-9,17l4,1.5V15l7-4l3,3v9.5l4-2.5c0-5.3-0.2-15-6.6-15l-0.6-1H34z'/%3E%3Cpath fill='%23FFB74D' d='M34,27c-2.7,0-3-4-3-4s0.9,3,3,3c2.1,0,3-3,3-3S36.7,27,34,27z'/%3E%3Ccircle fill='%23784719' cx='36.5' cy='16.6' r='0.6'/%3E%3Ccircle fill='%23784719' cx='31.5' cy='16.5' r='0.6'/%3E%3Cpath fill='%23FF9800' d='M14,26.6c-3.2,0-3-3.6-3-3.6v-3.6h6V23C17,23,17.2,26.6,14,26.6z'/%3E%3Cg%3E%3Ccircle fill='%23FFA726' cx='19.5' cy='15.5' r='1.5'/%3E%3Ccircle fill='%23FFA726' cx='8.5' cy='15.5' r='1.5'/%3E%3C/g%3E%3Cpath fill='%23FFB74D' d='M20,11.3c0-5.1-12-3.3-12,0c0,0.7,0,4,0,4.7c0,3.3,2.7,6,6,6s6-2.7,6-6C20,15.3,20,12,20,11.3z'/%3E%3Cpath fill='%23424242' d='M14,5c-4.3,0-7,3.4-7,7.7C7,13.3,7,15,7,15l1.4,0.5V12l8.4-2.8l2.8,2.8v3.5L21,15c0,0,0-1.7,0-2.3 c0-2.8-0.7-5.6-4.2-6.3L16.1,5H14z'/%3E%3Cg%3E%3Ccircle fill='%23784719' cx='16.5' cy='15.5' r='0.6'/%3E%3Ccircle fill='%23784719' cx='11.5' cy='15.5' r='0.6'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23009688' d='M17,22.9c0,0-0.4,2.1-3,2.1s-3-2.1-3-2.1S4,24.1,4,31v12h20V31C24,24.1,17,22.9,17,22.9z'/%3E%3C/g%3E%3Cpath fill='%23FF9800' d='M24,40c-2.2,0-2-2-2-2v-2.8h4V38C26,38,26.2,40,24,40z'/%3E%3Cg%3E%3Ccircle fill='%23FFA726' cx='28' cy='32.1' r='1'/%3E%3Ccircle fill='%23FFA726' cx='20' cy='32.1' r='1'/%3E%3C/g%3E%3Cpath fill='%23FFB74D' d='M28,30c0-3.4-8-2.2-8,0c0,0.5,0,2.6,0,3.1c0,2.2,1.8,4,4,4s4-1.8,4-4C28,32.6,28,30.4,28,30z'/%3E%3Cpath fill='%23FF5722' d='M24,25.1c-3,0-5,2.5-5,5.5c0,0.4,0,1.6,0,1.6l1,0.4v-2.5l6-2l2,2v2.5l1-0.4c0,0,0-1.2,0-1.6c0-2-0.5-4-3-4.5 l-0.5-1H24z'/%3E%3Cg%3E%3Ccircle fill='%23784719' cx='25.5' cy='32.5' r='0.5'/%3E%3Ccircle fill='%23784719' cx='22.5' cy='32.5' r='0.5'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%2300BCD4' d='M26,37.3c0,0-0.3,1.7-2,1.7s-2-1.7-2-1.7s-5,0.9-5,5.7h14C31,38.2,26,37.3,26,37.3z'/%3E%3C/g%3E%3C/svg%3E");
  }
  &[data-category="food"] > .main-nav__item__img {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 54.819 54.819' style='enable-background:new 0 0 54.819 54.819;' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:%23436B1C;' d='M11.217,19.913c-0.335,0-0.663-0.169-0.852-0.476c-0.614-0.995-1.761-2.146-3.078-2.104 c-0.56-0.03-1.014-0.418-1.03-0.969c-0.017-0.553,0.417-1.014,0.969-1.031c2.107-0.063,3.904,1.534,4.841,3.055 c0.29,0.47,0.144,1.086-0.326,1.376C11.578,19.865,11.396,19.913,11.217,19.913z'/%3E%3Cg%3E%3Cpath style='fill:%2388C057;' d='M31.684,6.597c-0.134-1.948-1.753-3.488-3.735-3.488c-0.006,0-0.011,0.001-0.017,0.001 c0.035-0.295,0.015-0.607-0.08-0.932c-0.268-0.914-1.072-1.616-2.018-1.729c-0.776-0.092-1.488,0.186-1.987,0.679 c-0.475-0.429-1.097-0.697-1.787-0.697c-1.479,0-2.677,1.199-2.677,2.677c0,0.005,0.001,0.009,0.001,0.014 c-1.797,0.136-3.214,1.635-3.214,3.467c0,0.28,0.037,0.551,0.099,0.812c-2.139,0.089-3.847,1.847-3.847,4.008 c0,0.732,0.199,1.416,0.541,2.007c-0.657,0.54-1.077,1.359-1.077,2.276c0,0.838,0.355,1.589,0.917,2.124 c2.412-1.971,4.946,4.621,7.93,9.884c0.991,1.748,11.698-0.114,12.551,0.972c0.972-0.874,1.6-16.094,1.627-17.431 C34.953,9.096,33.591,7.266,31.684,6.597z'/%3E%3C/g%3E%3Cpath style='fill:%23EEAF4B;' d='M33.053,26.533l0.713-0.427c1.32-0.792,2.968-0.792,4.287,0l0.713,0.427 c1.32,0.792,2.968,0.792,4.287,0l2.015-0.896c0.296-0.826,0.502-1.424,0.584-1.689c1.88-6.047,3.091-12.414,3.256-18.765 c0.066-2.554-2.046-6.537-5.555-4.727c-3.449,1.778-5.919,8.597-7.655,11.835c-2.466,4.601-4.416,9.605-5.805,14.704 C30.951,27.262,32.089,27.111,33.053,26.533z'/%3E%3Cpath style='fill:%23ED3F32;' d='M7.055,25.506L8.4,26.313c1.545,0.927,3.475,0.927,5.02,0l0.346-0.208 c1.32-0.792,2.968-0.792,4.287,0l0.713,0.427c0.775,0.465,1.663,0.649,2.531,0.568c0.64-2.067,0.425-4.651-0.567-6.4 c-3.336-5.885-6.111-4.686-8.781-2.131c-0.512,0.49-1.138,0.849-1.82,1.044c-2.928,0.837-5.089,2.206-3.86,5.934 C6.486,25.389,6.788,25.346,7.055,25.506z'/%3E%3Cpath style='fill:%23A46F3E;' d='M35.592,24.356c-0.106,0-0.215-0.017-0.321-0.053c-0.523-0.178-0.803-0.746-0.625-1.269 c0.667-1.962,2.809-3.012,4.768-2.352c0.919,0.313,1.92-0.181,2.232-1.1c0.177-0.523,0.743-0.805,1.269-0.626 c0.523,0.178,0.803,0.746,0.625,1.269c-0.666,1.963-2.806,3.017-4.768,2.352c-0.918-0.312-1.919,0.183-2.232,1.1 C36.397,24.095,36.008,24.356,35.592,24.356z'/%3E%3Cpath style='fill:%23A46F3E;' d='M37.957,17.389c-0.106,0-0.215-0.017-0.321-0.053c-0.523-0.178-0.803-0.746-0.625-1.269 c0.323-0.951,0.997-1.72,1.897-2.164c0.9-0.444,1.919-0.511,2.871-0.188c0.921,0.314,1.92-0.181,2.232-1.101 c0.177-0.524,0.745-0.805,1.268-0.626c0.523,0.178,0.803,0.746,0.625,1.269c-0.666,1.964-2.806,3.016-4.768,2.353 c-0.445-0.152-0.923-0.121-1.344,0.087s-0.736,0.567-0.888,1.013C38.763,17.127,38.374,17.389,37.957,17.389z'/%3E%3Cpath style='fill:%23A46F3E;' d='M40.323,10.421c-0.106,0-0.215-0.017-0.322-0.053c-0.523-0.178-0.803-0.746-0.625-1.269 c0.584-1.722,2.463-2.646,4.185-2.064c0.33,0.112,0.682,0.09,0.993-0.063c0.311-0.153,0.544-0.419,0.656-0.748 c0.177-0.523,0.744-0.804,1.269-0.626c0.523,0.178,0.803,0.746,0.625,1.269c-0.284,0.835-0.875,1.51-1.665,1.899 c-0.791,0.39-1.686,0.447-2.521,0.164c-0.678-0.231-1.418,0.134-1.648,0.813C41.128,10.159,40.739,10.421,40.323,10.421z'/%3E%3Cg%3E%3Cpath style='fill:%23DAE7EF;' d='M23.37,14.095c-0.945,1.257-2.436,2.745-1.862,5.373l1.544,7.065c0,0,0.001,0,0.001,0l0.713-0.427 c1.32-0.792,2.968-0.792,4.287,0l0.713,0.427c0.58,0.348,1.127,0.463,1.127,0.463c1.042-3.823,2.399-7.593,4.052-11.179 c-0.774-1.936-2.427-2.584-3.627-3.247c-0.007-0.004-0.014-0.008-0.02-0.011c-0.759-0.435-0.806-1.474-0.235-2.136 c0.225-0.261,0.329-0.62,0.251-0.98l-0.121-0.552c-0.133-0.608-0.739-0.996-1.346-0.863L22.77,9.354 c-0.608,0.133-0.996,0.739-0.863,1.346l0.121,0.552c0.08,0.368,0.334,0.653,0.656,0.792c0.739,0.319,1.19,1.144,0.812,1.855 C23.46,13.966,23.418,14.031,23.37,14.095z'/%3E%3C/g%3E%3Cpath style='fill:%23FFFFFF;' d='M29.746,10.899l-6.879,1.503c-0.759,0.166-1.517-0.32-1.683-1.079l-0.099-0.452 c-0.166-0.759,0.32-1.517,1.079-1.683l6.879-1.503c0.759-0.166,1.517,0.32,1.683,1.079l0.099,0.452 C30.991,9.976,30.505,10.733,29.746,10.899z'/%3E%3Cpath style='fill:%23FBD490;' d='M46.816,25.332l-1.745,25.029c-0.128,2.499-2.191,4.459-4.693,4.459H12.307 c-2.502,0-4.565-1.96-4.693-4.459L5.911,26.153c-0.029-0.569,0.588-0.94,1.077-0.647l1.345,0.807c1.545,0.927,3.475,0.927,5.02,0 l0.346-0.208c1.32-0.792,2.968-0.792,4.287,0l0.713,0.428c1.32,0.792,2.968,0.792,4.287,0l0.713-0.428 c1.32-0.792,2.968-0.792,4.287,0l0.713,0.428c1.32,0.792,2.968,0.792,4.287,0l0.713-0.428c1.32-0.792,2.968-0.792,4.287,0 l0.713,0.428c1.32,0.792,2.968,0.792,4.287,0l3.387-1.505C46.588,24.932,46.828,25.097,46.816,25.332z'/%3E%3Cpath style='fill:%23E0B877;' d='M17.91,42h-7c-0.552,0-1-0.447-1-1s0.448-1,1-1h7c0.552,0,1,0.447,1,1S18.462,42,17.91,42z'/%3E%3Cpath style='fill:%23E0B877;' d='M19.91,46h-9c-0.552,0-1-0.447-1-1s0.448-1,1-1h9c0.552,0,1,0.447,1,1S20.462,46,19.91,46z'/%3E%3Cpath style='fill:%23E0B877;' d='M21.91,50h-11c-0.552,0-1-0.447-1-1s0.448-1,1-1h11c0.552,0,1,0.447,1,1S22.462,50,21.91,50z'/%3E%3Cpath style='fill:%23E0B877;' d='M27.91,50h-2c-0.552,0-1-0.447-1-1s0.448-1,1-1h2c0.552,0,1,0.447,1,1S28.462,50,27.91,50z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  }
  &[data-category="home"] > .main-nav__item__img {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23c4cbe9;%7D.cls-2%7Bfill:%23e8eaf6;%7D.cls-3%7Bfill:%23ff7f00;%7D.cls-4%7Bfill:%230090e0;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EHouse%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Crect class='cls-1' x='8' y='4' width='8' height='26'/%3E%3Cpath class='cls-2' d='M56,28V61a3,3,0,0,1-3,3H11a3,3,0,0,1-3-3V28L32,4Z'/%3E%3Cpath class='cls-1' d='M56,58v3a3,3,0,0,1-3,3H11a3,3,0,0,1-3-3V58Z'/%3E%3Crect class='cls-3' x='26' y='44' width='12' height='20'/%3E%3Crect class='cls-4' x='26' y='24' width='12' height='12' rx='6' ry='6'/%3E%3Cpath class='cls-3' d='M60,34a4,4,0,0,1-2.72-1.07L32,9.46,6.72,32.93a4,4,0,1,1-5.44-5.86l28-26a4,4,0,0,1,5.44,0l28,26A4,4,0,0,1,60,34Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  &[data-category="human-body"] > .main-nav__item__img {
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cg%3E%3Cpath d='m368 224h-224c-35.346 0-64 28.654-64 64v72h64v136h224v-136h64v-72c0-35.346-28.654-64-64-64z' fill='%23fab991'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m288 208h-64c-26.51 0-48-21.49-48-48v-96c0-26.51 21.49-48 48-48h64c26.51 0 48 21.49 48 48v96c0 26.51-21.49 48-48 48z' fill='%23fab991'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m336 152v-48c13.255 0 24 10.745 24 24 0 13.255-10.745 24-24 24z' fill='%23f0915a'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m176 152v-48c-13.255 0-24 10.745-24 24 0 13.255 10.745 24 24 24z' fill='%23f0915a'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m224 208h64v16h-64z' fill='%23f0915a'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m276 496h-8v-24c0-11.028 8.972-20 20-20h8v8h-8c-6.617 0-12 5.383-12 12z' fill='%23faa032'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m244 496h-8v-24c0-6.617-5.383-12-12-12h-8v-8h8c11.028 0 20 8.972 20 20z' fill='%23faa032'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m301.728 424c-7.408 0-13.699 5.872-13.728 13.28-.014 3.657 1.448 6.97 3.819 9.387-2.36 2.405-3.819 5.698-3.819 9.333 0 3.636 1.459 6.928 3.819 9.333-2.372 2.417-3.834 5.73-3.819 9.388.03 7.407 6.321 13.279 13.728 13.279 13.037 0 23.605-10.568 23.605-23.605v-16.79c0-13.037-10.568-23.605-23.605-23.605z' fill='%23d73728'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m210.272 424c7.408 0 13.699 5.872 13.728 13.28.014 3.657-1.448 6.97-3.819 9.387 2.36 2.405 3.819 5.698 3.819 9.333 0 3.636-1.459 6.928-3.819 9.333 2.372 2.417 3.834 5.73 3.819 9.388-.03 7.407-6.321 13.279-13.728 13.279-13.037 0-23.605-10.568-23.605-23.605v-16.79c0-13.037 10.568-23.605 23.605-23.605z' fill='%23d73728'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m368 320v40h16v-24c0-8.837-7.163-16-16-16z' fill='%23f0915a'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m144 320v40h-16v-24c0-8.837 7.163-16 16-16z' fill='%23f0915a'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m256 16v32h32c17.673 0 32 14.327 32 32v16c0 8.837 7.163 16 16 16v-48c0-26.51-21.49-48-48-48z' fill='%23555a6e'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m184 88h72v-64h-32c-22.091 0-40 17.909-40 40z' fill='%23fac3c8'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m184 88h72v112h-32c-22.091 0-40-17.909-40-40z' fill='%23d7e6f0'/%3E%3C/g%3E%3Cg fill='%23f58caa'%3E%3Cpath d='m213.333 46.667h-2.666c-2.209 0-4 1.791-4 4s1.791 4 4 4h2.666c7.658 0 14.316-4.33 17.675-10.667h8.992c2.209 0 4-1.791 4-4s-1.791-4-4-4h-6.735c.03-.443.068-.883.068-1.333v-10.667h-8v10.667c0 6.617-5.383 12-12 12z'/%3E%3Cpath d='m216 76c2.209 0 4-1.791 4-4s-1.791-4-4-4h-32v8h8c6.617 0 12 5.383 12 12h8c0-4.505-1.515-8.653-4.038-12z'/%3E%3Cpath d='m240 65.333c-2.209 0-4 1.791-4 4s1.791 4 4 4h16v-8z'/%3E%3C/g%3E%3Cg%3E%3Ccircle cx='224' cy='112' fill='%23555a6e' r='16'/%3E%3C/g%3E%3Cg%3E%3Ccircle cx='288' cy='112' fill='%23555a6e' r='8'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m184 152c22.091 0 40 17.909 40 40v8c-22.091 0-40-17.909-40-40z' fill='%23555a6e'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m232 176h24v-16h-24c-4.418 0-8 3.582-8 8 0 4.418 3.582 8 8 8z' fill='%23a5c3dc'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m280 176h-24v-8h32c0 4.418-3.582 8-8 8z' fill='%23555a6e'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m256 152v-21.333c-4.418 0-8 3.582-8 8v5.333c0 4.418 3.582 8 8 8z' fill='%23555a6e'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m256 152c4.418 0 8-3.582 8-8v-5.333c0-4.418-3.582-8-8-8z' fill='%23f0915a'/%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='m176 416h40c17.673 0 32-14.327 32-32v-128c0-4.418-3.582-8-8-8-44.183 0-80 35.817-80 80v72c0 8.837 7.163 16 16 16z' fill='%23f05a4b'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m336 416h-40c-17.673 0-32-14.327-32-32v-128c0-4.418 3.582-8 8-8 44.183 0 80 35.817 80 80v72c0 8.837-7.163 16-16 16z' fill='%23f05a4b'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m248 360v24c0 17.673-14.327 32-32 32h-40c-8.837 0-16-7.163-16-16 0-8.837 7.163-16 16-16h48c13.255 0 24-10.745 24-24z' fill='%23d73728'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m264 360v24c0 17.673 14.327 32 32 32h40c8.837 0 16-7.163 16-16 0-8.837-7.163-16-16-16h-48c-13.255 0-24-10.745-24-24z' fill='%23d73728'/%3E%3C/g%3E%3C/g%3E%3Cpath d='m320 322.667h-16c-4.411 0-8-3.589-8-8v-8c0-2.804-.488-5.496-1.376-8h17.376c4.418 0 8-3.582 8-8s-3.582-8-8-8h-48c-4.418 0-8 3.582-8 8s3.582 8 8 8h8c4.411 0 8 3.589 8 8v40c0 13.234 10.767 24 24 24 4.418 0 8-3.582 8-8s-3.582-8-8-8c-4.411 0-8-3.589-8-8v-9.376c2.504.888 5.196 1.376 8 1.376h16c4.418 0 8-3.582 8-8s-3.582-8-8-8z' fill='%23d73728'/%3E%3Cpath d='m248 282.667h-48c-4.418 0-8 3.582-8 8s3.582 8 8 8h17.376c-.888 2.504-1.376 5.196-1.376 8v8c0 4.411-3.589 8-8 8h-16c-4.418 0-8 3.582-8 8s3.582 8 8 8h16c2.804 0 5.496-.488 8-1.376v9.376c0 4.411-3.589 8-8 8-4.418 0-8 3.582-8 8s3.582 8 8 8c13.233 0 24-10.766 24-24v-40c0-4.411 3.589-8 8-8h8c4.418 0 8-3.582 8-8s-3.582-8-8-8z' fill='%23d73728'/%3E%3Cg%3E%3Cpath d='m248 224h16v74.667h-16z' fill='%235ad7ff'/%3E%3C/g%3E%3Cg%3E%3Cellipse cx='304.314' cy='335.776' fill='%23fac3c8' rx='23.686' ry='24.224'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m248 336c0 35.346 28.654 64 64 64 8.837 0 16-7.163 16-16v-48z' fill='%23f58caa'/%3E%3C/g%3E%3Cg%3E%3Ccircle cx='272' cy='336' fill='%23fac3c8' r='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m172.96 488h-2.611c-5.716 0-10.35-4.634-10.35-10.35v-45.65c0-17.673 14.327-32 32-32h85.65c5.716 0 10.35 4.634 10.35 10.35 0 3.522-1.791 6.802-4.753 8.706l-104.69 67.301c-1.668 1.072-3.611 1.643-5.596 1.643z' fill='%23dc6950'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m277.65 400h-45.65c5.716 0 10.35 4.634 10.35 10.35 0 3.522-1.791 6.802-4.753 8.706l-77.597 49.883v8.711c0 5.716 4.634 10.35 10.35 10.35h2.611c1.984 0 3.927-.571 5.596-1.644l104.69-67.301c2.962-1.904 4.753-5.184 4.753-8.706 0-5.715-4.634-10.349-10.35-10.349z' fill='%23c85541'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m232 452v-52h-8v57.143z' fill='%23fac3c8'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m248 234.667h16v10.667h-16z' fill='%232387c3'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m248 256h16v10.667h-16z' fill='%232387c3'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m248 277.333h16v10.667h-16z' fill='%232387c3'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  &[data-category="nature"] > .main-nav__item__img {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' id='Layer_1' x='0px' y='0px' viewBox='0 0 48 48' enable-background='new 0 0 48 48' xml:space='preserve'%3E%3Cpath fill='%232E7D32' d='M5,24c0,18.9,14.8,19,17,19s4,0,4,0S24.1,26.5,5,24z'/%3E%3Crect x='22' y='26' fill='%23388E3C' width='4' height='17'/%3E%3Cpath fill='%23C62828' d='M34,16c0,5.1-5.2,8.2-8,8.2s-2-3.1-2-8.2s5-9.2,5-9.2S34,10.9,34,16z'/%3E%3Cpath fill='%23C62828' d='M14,16c0,5.1,5.2,8.2,8,8.2s2-3.1,2-8.2s-5-9.2-5-9.2S14,10.9,14,16z'/%3E%3Cpath fill='%23E53935' d='M24,27c-2.2-1.6-1.9-4.5,2.4-8.8C30.8,13.8,32,7,32,7s5,3.4,5,9C37,21.9,31.3,27,24,27z'/%3E%3Cpath fill='%23E53935' d='M24,27c2.2-1.6,1.9-4.5-2.4-8.8C17.2,13.8,16,7,16,7s-5,3.4-5,9C11,21.9,16.7,27,24,27z'/%3E%3Cpath fill='%23F44336' d='M30,16c0,6.1-2.7,11-6,11s-6-4.9-6-11s6-11,6-11S30,9.9,30,16z'/%3E%3Cpath fill='%234CAF50' d='M22,43c0,0,1.8,0,4,0s17-0.1,17-19C23.9,26.5,22,43,22,43z'/%3E%3C/svg%3E");
  }
  &[data-category="test"] > .main-nav__item__img {
    background-image: url("data:image/svg+xml,%3Csvg height='511pt' viewBox='0 1 511 511.99998' width='511pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.5 512h397.0625v-408.890625l-103.113281-103.109375h-293.949219zm0 0' fill='%23e6e6e6'/%3E%3Cpath d='m397.5625 103.109375h-103.113281v-103.109375' fill='%23ccc'/%3E%3Cpath d='m510.753906 191.925781-90.292968 220.6875-54.335938 50.023438-3.691406-73.761719 90.296875-220.6875c2.574219-6.296875 9.785156-9.320312 16.082031-6.746094l35.199219 14.40625c6.296875 2.574219 9.320312 9.78125 6.742187 16.078125zm0 0' fill='%23fc5f61'/%3E%3Cpath d='m486.410156 168.644531-120.285156 293.992188-3.691406-73.761719 90.296875-220.6875c2.574219-6.296875 9.785156-9.320312 16.082031-6.746094zm0 0' fill='%23e83842'/%3E%3Cpath d='m420.460938 412.613281-54.335938 50.023438-.289062-5.75-3.402344-68.011719zm0 0' fill='%23545d68'/%3E%3Cpath d='m510.753906 191.925781-17.488281 42.746094-58.023437-23.742187 17.488281-42.742188c2.574219-6.296875 9.785156-9.320312 16.082031-6.746094l35.199219 14.40625c6.296875 2.574219 9.320312 9.78125 6.742187 16.078125zm0 0' fill='%23545d68'/%3E%3Cpath d='m484.148438 167.71875-22.15625 54.15625-26.75-10.945312 17.488281-42.742188c2.574219-6.296875 9.785156-9.320312 16.082031-6.746094zm0 0' fill='%233b454f'/%3E%3Cpath d='m362.433594 388.875 26.75 10.941406-23.347656 57.070313zm0 0' fill='%233b454f'/%3E%3Cg fill='%23545d68'%3E%3Cpath d='m253.464844 93.394531h-97.171875c-4.328125 0-7.839844-3.511719-7.839844-7.839843 0-4.328126 3.511719-7.835938 7.839844-7.835938h97.171875c4.328125 0 7.835937 3.507812 7.835937 7.835938 0 4.328124-3.507812 7.839843-7.835937 7.839843zm0 0'/%3E%3Cpath d='m115.230469 249.597656h-61.957031c-4.328126 0-7.835938-3.507812-7.835938-7.835937v-61.957031c0-4.328126 3.507812-7.835938 7.835938-7.835938h61.957031c4.328125 0 7.835937 3.507812 7.835937 7.835938v61.957031c0 4.328125-3.507812 7.835937-7.835937 7.835937zm-54.117188-15.671875h46.28125v-46.285156h-46.28125zm0 0'/%3E%3Cpath d='m337.050781 199.8125h-167.699219c-4.328124 0-7.835937-3.507812-7.835937-7.835938 0-4.328124 3.507813-7.835937 7.835937-7.835937h167.699219c4.328125 0 7.835938 3.507813 7.835938 7.835937 0 4.328126-3.507813 7.835938-7.835938 7.835938zm0 0'/%3E%3Cpath d='m304.136719 237.429688h-134.785157c-4.328124 0-7.835937-3.511719-7.835937-7.839844s3.507813-7.835938 7.835937-7.835938h134.785157c4.328125 0 7.835937 3.507813 7.835937 7.835938s-3.507812 7.839844-7.835937 7.839844zm0 0'/%3E%3C/g%3E%3Cpath d='m90.28125 223.136719c-2.070312 0-4.066406-.820313-5.539062-2.292969l-14.96875-14.96875c-3.058594-3.058594-3.058594-8.023438 0-11.082031 3.0625-3.058594 8.023437-3.058594 11.082031 0l8.722656 8.722656 32.859375-41.824219c2.675781-3.402344 7.601562-3.992187 11.003906-1.320312s3.996094 7.601562 1.320313 11.003906l-38.316407 48.765625c-1.386718 1.765625-3.457031 2.847656-5.695312 2.984375-.15625.007812-.3125.011719-.46875.011719zm0 0' fill='%23fc5f61'/%3E%3Cpath d='m115.230469 352.515625h-61.957031c-4.328126 0-7.835938-3.507813-7.835938-7.835937v-61.957032c0-4.328125 3.507812-7.835937 7.835938-7.835937h61.957031c4.328125 0 7.835937 3.507812 7.835937 7.835937v61.957032c0 4.328124-3.507812 7.835937-7.835937 7.835937zm-54.117188-15.675781h46.28125v-46.28125h-46.28125zm0 0' fill='%23545d68'/%3E%3Cpath d='m337.050781 302.730469h-167.699219c-4.328124 0-7.835937-3.511719-7.835937-7.839844s3.507813-7.835937 7.835937-7.835937h167.699219c4.328125 0 7.835938 3.507812 7.835938 7.835937s-3.507813 7.839844-7.835938 7.839844zm0 0' fill='%23545d68'/%3E%3Cpath d='m219.503906 340.34375h-50.152344c-4.328124 0-7.835937-3.507812-7.835937-7.835938 0-4.328124 3.507813-7.835937 7.835937-7.835937h50.152344c4.328125 0 7.835938 3.507813 7.835938 7.835937 0 4.328126-3.507813 7.835938-7.835938 7.835938zm0 0' fill='%23545d68'/%3E%3Cpath d='m90.28125 326.054688c-2.070312 0-4.066406-.820313-5.539062-2.296876l-14.96875-14.964843c-3.058594-3.0625-3.058594-8.023438 0-11.082031 3.0625-3.0625 8.023437-3.0625 11.082031 0l8.722656 8.71875 32.859375-41.820313c2.675781-3.40625 7.601562-3.996094 11.003906-1.320313 3.402344 2.671876 3.996094 7.597657 1.320313 11l-38.316407 48.769532c-1.386718 1.761718-3.457031 2.847656-5.695312 2.980468-.15625.011719-.3125.015626-.46875.015626zm0 0' fill='%23fc5f61'/%3E%3Cpath d='m115.230469 455.429688h-61.957031c-4.328126 0-7.835938-3.507813-7.835938-7.835938v-61.957031c0-4.328125 3.507812-7.835938 7.835938-7.835938h61.957031c4.328125 0 7.835937 3.507813 7.835937 7.835938v61.957031c0 4.328125-3.507812 7.835938-7.835937 7.835938zm-54.117188-15.671876h46.28125v-46.28125h-46.28125zm0 0' fill='%23545d68'/%3E%3Cpath d='m337.050781 405.644531h-167.699219c-4.328124 0-7.835937-3.507812-7.835937-7.835937s3.507813-7.835938 7.835937-7.835938h167.699219c4.328125 0 7.835938 3.507813 7.835938 7.835938s-3.507813 7.835937-7.835938 7.835937zm0 0' fill='%23545d68'/%3E%3Cpath d='m311.972656 443.261719h-142.621094c-4.328124 0-7.835937-3.511719-7.835937-7.839844s3.507813-7.835937 7.835937-7.835937h142.621094c4.328125 0 7.835938 3.507812 7.835938 7.835937s-3.507813 7.839844-7.835938 7.839844zm0 0' fill='%23545d68'/%3E%3C/svg%3E");
  }
}
