@import './_fonts.scss';
@import './_global.scss';

:root {
  font-size: 16px;

  // @media (max-width: 500px) {
  //   font-size: 14px;
  // }
  // @media (max-width: 380px) {
  //   font-size: 11.5px;
  // }
  // @media (min-width: 1600px) {
  //   font-size: 24px;
  // }
}

//* variables

//$primary-font: "Josefin Sans", sans-serif;
$primary-font: "Varela Round", sans-serif;
$secondary-font: "Gochi Hand", cursive;

$primary-theme-color: #158cba;
$secondary-theme-color: #FF851B;
$menu-theme-color: #28B62C;

$primary-color:  #102585;
// $secondary-color: darkgreen;

$primary-bg-color:  rgb(255, 255, 255);
// $secondary-bg-color: rgba(85, 107, 47, 0.6);

$card-width: 17rem;
$card-height: $card-width;
$card-image-height: 11.7rem;

// $primary-border-line: 2px;
// $secondary-border-line: 1px;
// $max-border-line: 10px;

// $primary-border-radius: 4px;
// $secondary-border-radius: 10px;

// $animation-time: 0.3s;
// $animation-function: ease-in;

// @mixin buttons {
//   border: $primary-border-line solid $secondary-color;
//   border-radius: $secondary-border-radius;
//   font-family: $secondary-font;
//   cursor: pointer;
// }

body {
  // --title-font-size: 2rem;
  // --nav-height: 2.2rem;
  // --nav-btn-width: 5.25rem;
  // --score-width: 17rem;
  // --nav-btn-font-size: 1rem;
  // --stat-font-size: 1rem;
  // --chip-size: 3.75rem;
  // --chip-font-size: 2.5rem;
  // --popup-font-size: 1rem;

  // --chip-color: black;
  // --chip-text-stroke-color: none;

  // --box-gap: 2px;
  // --chip-border: 2px solid darkgreen;
  // --chip-border-radius: 4px;

  height: 100%;
  font-family: $primary-font;
  font-style: normal;
  background-color: $primary-theme-color;
}

button {
  &:active,
  &:focus {
    outline: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  &--main {
    font-family: $secondary-font;
    font-size: 5rem;
    color: #FFFFFF;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    text-shadow: 3px 3px 4px $primary-color;
    transition: 0.3s ease-out;

    &:hover {
      text-shadow: 7px 7px 7px $primary-color;
    }
  }
}

.modes {
  display: flex;
}

.toggle {
  width: 10rem;
  height: 2.6rem;
  background: $menu-theme-color;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px  rgb(11,25,87,0.5), 0px 1px 0px rgba(255,255,255,0.5);

  &:after,
  &:before {
    color: $primary-color;
    position: absolute;
    z-index: 0;
    line-height: 2.9rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &:after {
    content: 'TRAIN';
    right: 10px;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
  }

  &:before {
    content: 'PLAY';
    left: 10px;
  }

  &__label {
    display: block;
    width: 70px;
    height: 2.3rem;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  }

  &__checkbox {
    visibility: hidden;

    &:checked + label {
      left: 87px;
    }
  }
}

.main__title {
  font-family: $secondary-font;
  font-size: 3rem;
  margin-top: 20px;
  text-align: center;
  color: $primary-color;
  text-shadow: 2px 2px 2px $primary-bg-color;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: $card-width;
    height: $card-height;
    margin: 1.3rem;
    padding: 10px;
    border-radius: 2rem;
    transition: 0.5s ease;
    cursor: pointer;
    perspective: 1000px;


    &--category {
      background-color: $primary-bg-color;
      box-shadow: inset -11px -11px 22px #9c9c9c,
      inset 11px 11px 22px #ffffff;

      &:hover {
        box-shadow: -11px -11px 12px #0b4c64,
                    11px 11px 12px #1fccff;
        transform: translateY(-5px) scale(1.005) translateZ(0);
      }
    }

    &--front,
    &--back {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      transition: 1s;
      backface-visibility: hidden;
      width: $card-width;
      height: $card-height;
      padding: 10px;
      background-color: $primary-bg-color;
      border-radius: 2rem;
      box-shadow: inset -11px -11px 22px #9c9c9c,
                  inset 11px 11px 22px #ffffff;

      &:hover {
        box-shadow: -11px -11px 12px #0b4c64,
                    11px 11px 12px #1fccff;
        transform: translateY(-5px) scale(1.005) translateZ(0);
      }
    }

    &--back {
      transform: rotateY(180deg);
      box-shadow: -11px -11px 12px #0b4c64,
                  11px 11px 12px #1fccff;
    }

    &--active .cards__item--front {
      transform: rotateY(180deg);
    }

    &--active .cards__item--back {
      transform: rotateY(360deg);
    }

    &__img {
      width: 100%;
      height: $card-image-height;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      &--color {
        width: 75%;
        margin-top: 10px;
        border-radius: 50%;
      }
    }

    &__title {
      margin-top: 10px;
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
      color: $primary-color;
    }

    &__btn {
      position: absolute;
      bottom: 45px;
      left: 14px;
      width: 40px;
      height: 20px;
      border: none;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
