html {
  background-color: #ffffff;
  font-size: 15px;
}

body {
  width: 100%;
}

html,
body,
section,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

h1,
.head1 {
  font-family: Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  color: #545454;
}

h2,
.head2 {
  font-family: Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  color: #545454;
  font-size: 2.93333rem;
}

h3,
.head3 {
  font-family: Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  color: #545454;
  font-size: 2.33333rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

h4,
.head4 {
  font-family: Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  color: #545454;
  font-size: 1.33333rem;
  letter-spacing: 0.06em;
}

h5,
.head5 {
  font-family: Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  color: #545454;
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

body {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #4C4C4C;
}

.h1-hide {
  font-size: 0px;
  line-height: 0px;
}

a {
  text-decoration: none;
}

.btn {
  font-family: Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.13333rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  display: inline-block;
  padding: calc(1rem - 2px) calc(3rem - 2px);
  border: 2px solid transparent;
  border-radius: 6.67rem;
  cursor: pointer;
}

.btn:hover {
  border-color: transparent;
  background-color: #FDDCC4;
}

.btn:active, .btn:focus {
  outline: none;
}

.btn--main {
  background-color: #F1CDB3;
}

.btn--secondary {
  border-color: #F1CDB3;
}

.btn--secondary--slider {
  position: relative;
  width: 52px;
  height: 52px;
  padding: 0;
  border-radius: 50%;
  background-color: inherit;
  background-image: url(/assets/icons/arrow_left.svg);
  color: red;
}

.btn--secondary--slider:disabled {
  border-color: #CDCDCD;
  fill: #CDCDCD;
}

.btn--secondary--slider--back::before, .btn--secondary--slider--forward::before {
  content: url(/assets/icons/arrow_left.svg);
  position: absolute;
  top: 21px;
  left: 17px;
  line-height: 0;
}

.btn--secondary--slider--forward::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wrapper--main {
  width: 1280px;
  margin: 0 auto;
}

.wrapper--main--top {
  background: url(../../../assets/icons/noise_transparent.svg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), -webkit-gradient(linear, left bottom, left top, from(#211F20), to(#211F20));
  background: url(../../../assets/icons/noise_transparent.svg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), linear-gradient(0deg, #211F20, #211F20);
}

.wrapper--main--color {
  background-color: #F6F6F6;
}

.wrapper--main--footer {
  background: url(../../../assets/icons/noise_transparent.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), -webkit-gradient(linear, left bottom, left top, from(#211F20), to(#211F20));
  background: url(../../../assets/icons/noise_transparent.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), linear-gradient(0deg, #211F20, #211F20);
}

.container-content {
  max-width: 1200px;
  margin: 0 auto;
  outline: 1px solid red;
}

.header--desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem;
}

.logo__title {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 32px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo__subtitle {
  display: block;
  margin-top: 9px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #FFFFFF;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 443px;
}

.main-menu__item {
  list-style: none;
}

.main-menu__link {
  display: block;
  font-size: 1rem;
  line-height: 160%;
  color: #CDCDCD;
}

.main-menu__link:active, .main-menu__link:hover, .main-menu__link:focus, .main-menu__link--active {
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  gap: 3.5%;
}

.promo__content {
  margin-top: 164px;
}

.promo__title {
  width: 310px;
  margin-bottom: 2.8rem;
  line-height: 130%;
  color: #FFFFFF;
}

.promo__description {
  margin-bottom: calc(2.8rem - 1px);
  line-height: 160%;
  color: #CDCDCD;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5.33rem 11.67rem 6.67rem 11.67rem;
  gap: 8rem;
}

.about__content {
  margin: 1rem 0;
}

.about__content__title {
  margin-bottom: 1.6rem;
}

.about__content__description {
  margin-bottom: 1.67rem;
  line-height: 160%;
}

.about__content__description:last-child {
  margin-bottom: 0;
}

.pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5.33rem 0 6.67rem 0;
}

.pets__title {
  max-width: 400px;
  text-align: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 4rem 0;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.slider__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3rem;
  padding: 2rem 2.33rem;
  background-color: #FAFAFA;
  border-radius: 9px;
}

.slider__card:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__card__img {
  height: 240px;
  width: auto;
  margin: 0 auto;
  line-height: 100%;
  overflow: hidden;
}

.slider__card__name {
  margin: 2rem 0;
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5.33rem 0 6.67rem 0;
}

.help__title {
  max-width: 310px;
  text-align: center;
}

.help__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 3.67rem;
  margin-top: 4rem;
  list-style: none;
}

.help__content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.53rem;
  margin: 0 4rem;
  word-wrap: normal;
}

.help__content__icon {
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-position: center;
}

.help__content__icon--food {
  background-image: url(/assets/icons/help_icons_food.svg);
}

.help__content__icon--transportation {
  background-image: url(/assets/icons/help_icon_transportation.svg);
}

.help__content__icon--toys {
  background-image: url(/assets/icons/help_icon_toys.svg);
}

.help__content__icon--bowls {
  background-image: url(/assets/icons/help_icon_bowls-and-cups.svg);
}

.help__content__icon--shampoos {
  background-image: url(/assets/icons/help_icon_shampoos.svg);
}

.help__content__icon--vitamins {
  background-image: url(/assets/icons/help_icon_vitamins.svg);
}

.help__content__icon--medicines {
  background-image: url(/assets/icons/help_icon_medicines.svg);
}

.help__content__icon--collars {
  background-image: url(/assets/icons/help_icon_collars-leashes.svg);
}

.help__content__icon--sleeping {
  background-image: url(/assets/icons/help_icon_sleeping-area.svg);
}

.donation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5.5rem 9.47rem 6.77rem 9.47rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.donation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.33rem;
}

.donation__content__title {
  width: 20rem;
}

.donation__content__card-number {
  position: relative;
  padding: 0.67rem 1rem 0.67rem 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  word-wrap: normal;
  background-color: #F1CDB3;
  border-radius: 9px;
}

.donation__content__card-number::before {
  content: url(/assets/icons/credit-card.svg);
  position: absolute;
  left: 1rem;
}

.donation__content__legal-info {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 150%;
  color: #B2B2B2;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.67rem;
}

.footer__content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 16rem;
  margin: 1.4rem 10.67rem 4rem 0;
  outline: 1px solid green;
}

.footer__content__title {
  max-width: 302px;
  margin-bottom: -6px;
  line-height: 130%;
  color: #FFFFFF;
}

.footer__content__contacts {
  position: relative;
  padding-left: 4rem;
  min-height: 32px;
  color: #F1CDB3;
}

.footer__content__contacts--address {
  padding-left: 2.8rem;
}

.footer__content__contacts--email::before, .footer__content__contacts--phone::before, .footer__content__contacts--address::before {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center left;
}

.footer__content__contacts--email::before {
  background-image: url(/assets/icons/footer_mail.svg);
}

.footer__content__contacts--phone::before {
  background-image: url(/assets/icons/footer_phone.svg);
  top: -6px;
}

.footer__content__contacts--address::before {
  background-image: url(/assets/icons/footer_marker.svg);
}

.footer__img {
  width: 25%;
}
