html {
  background-color: #ffffff;
}

body {
  width: 100%;
}

html,
body,
section,
nav,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
}

img {
  display: block;
  height: 100%;
  width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: cursive;
}

.container {
  margin: 1.4rem auto;
  background-color: rgba(30, 155, 36, 0.5);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 0 10px;
}

.header__title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Luckiest Guy", cursive;
  color: darkolivegreen;
}

.header__shuffle {
  padding: 5px 5px;
  font-family: cursive;
  cursor: pointer;
}

.statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.statistic__time, .statistic__moves {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistic__time--value, .statistic__moves--value {
  height: 100%;
  min-width: 30px;
  margin: 0 10px;
}

.statistic__time {
  width: 70%;
}

.box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2px;
  padding: 2px;
  border: 10px solid darkolivegreen;
}

.chip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  border: 2px solid darkgreen;
  border-radius: 4px;
  font-family: "Luckiest Guy", cursive;
  font-size: 2.5rem;
  cursor: pointer;
}

.chip--empty {
  border: 0;
  cursor: default;
}
