@font-face {
  font-family: 'Luckiest Guy';
  src: url("./assets/fonts/Luckiest_Guy/luckiestguy-regular.woff2") format("woff2"), url("./assets/fonts/Luckiest_Guy/luckiestguy-regular.woff") format("woff"), url("./assets/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #ffffff;
}

body {
  width: 100%;
}

html,
body,
section,
nav,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
}

img {
  display: block;
  height: 100%;
  width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

body {
  --title-font-size: 2rem;
  --nav-height: 2.2rem;
  --nav-btn-width: 5.25rem;
  --nav-btn-font-size: 1rem;
  --stat-font-size: 1rem;
  --chip-size: 3.75rem;
  --chip-font-size: 2.5rem;
  --popup-font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: cursive;
}

button:active, button:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  position: relative;
  margin: 1.4rem auto;
  border-radius: 10px 10px 0 0;
  background-color: #8ecd91;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 0 10px;
}

.header__title {
  padding-left: 10px;
  font-size: var(--title-font-size);
  font-weight: bold;
  font-family: "Luckiest Guy", cursive;
  color: darkolivegreen;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px 0 10px;
}

.menu__sound {
  border: 2px solid darkgreen;
  border-radius: 10px;
  font-family: cursive;
  cursor: pointer;
  width: var(--nav-height);
  height: var(--nav-height);
  margin: 0 10px;
  border-color: darkolivegreen;
  border-radius: 50%;
  background: url("./../assets/icons/volume_up-18dp.svg");
  background-size: contain;
  background-color: darkolivegreen;
}

.menu__sound--mute {
  background: url("./../assets/icons/volume_off-18dp.svg");
  background-size: contain;
}

.menu__sound:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.menu__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu__main__btn {
  border: 2px solid darkgreen;
  border-radius: 10px;
  font-family: cursive;
  cursor: pointer;
  height: var(--nav-height);
  min-width: var(--nav-btn-width);
  padding: 0 10px;
  border-color: darkolivegreen;
  font-size: var(--nav-btn-font-size);
  font-weight: bold;
  font-family: "Luckiest Guy", cursive;
  color: darkolivegreen;
  background-color: transparent;
}

.menu__main__btn:hover, .menu__main__btn:focus {
  background-color: darkolivegreen;
  color: #ffffff;
}

.menu__main__container {
  position: absolute;
  top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
}

.menu__main__item {
  border: 2px solid darkgreen;
  border-radius: 10px;
  font-family: cursive;
  cursor: pointer;
  margin: 2px 5px;
  background-color: #8ecd91;
}

.menu__main__item:hover, .menu__main__item:focus, .menu__main__item--active {
  background-color: darkolivegreen;
  border-color: darkolivegreen;
  color: #ffffff;
}

.menu__main__score {
  position: absolute;
  top: 128px;
  right: -10px;
  background-color: #ffffff;
  border: 2px solid darkgreen;
}

.menu__main__score__title {
  margin: 5px 0;
  font-family: "Luckiest Guy", cursive;
  color: darkolivegreen;
  text-align: center;
}

.menu__main__score__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu__main__score__table--head {
  padding: 0 5px;
  font-weight: bold;
  text-align: center;
  border-top: 1px dashed darkgreen;
}

.menu__main__score__table--cell {
  border-top: 1px dashed darkgreen;
  font-size: 0.8rem;
  text-align: center;
}

.statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-size: var(--stat-font-size);
}

.statistic__time, .statistic__moves {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistic__time--value, .statistic__moves--value {
  height: 100%;
  min-width: 30px;
  margin: 0 10px;
}

.statistic__time {
  width: 70%;
}

.box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 2px;
  padding: 4px;
  border: 10px solid darkolivegreen;
}

.chip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--chip-size);
  width: var(--chip-size);
  border: 2px solid darkgreen;
  border-radius: 4px;
  font-family: "Luckiest Guy", cursive;
  font-size: var(--chip-font-size);
  cursor: pointer;
}

.chip:hover {
  background-color: rgba(85, 107, 47, 0.6);
}

.chip--empty {
  z-index: -1;
  border: 0;
  cursor: default;
}

.chip--empty:hover {
  background-color: transparent;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
}

.footer__btn {
  border: 2px solid darkgreen;
  border-radius: 10px;
  font-family: cursive;
  cursor: pointer;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.footer__btn:focus, .footer__btn--active {
  background-color: #8ecd91;
  font-weight: bold;
}

.popup {
  position: absolute;
  top: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-size: var(--popup-font-size);
  background-color: darkolivegreen;
  color: #ffffff;
  text-align: center;
}

.popup--hide {
  display: none;
}

.popup__text {
  margin-bottom: 10px;
  font-family: "Luckiest Guy", cursive;
  font-size: calc(var(--popup-font-size) * 1.1);
}

.popup__btn {
  border: 2px solid darkgreen;
  border-radius: 10px;
  font-family: cursive;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-size: var(--popup-font-size);
  background-color: transparent;
  color: #ffffff;
}

.move-right {
  -webkit-animation: move-right 0.3s ease-in;
          animation: move-right 0.3s ease-in;
}

.move-left {
  -webkit-animation: move-left 0.3s ease-in;
          animation: move-left 0.3s ease-in;
}

.move-top {
  -webkit-animation: move-top 0.3s ease-in;
          animation: move-top 0.3s ease-in;
}

.move-bottom {
  -webkit-animation: move-bottom 0.3s ease-in;
          animation: move-bottom 0.3s ease-in;
}

@-webkit-keyframes move-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes move-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes move-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes move-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes move-top {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move-top {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes move-bottom {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move-bottom {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
